.image-1-icon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 1920px;
  height: 1081px;
  object-fit: contain;
}
.home2 {
  position: absolute;
  top: 355px;
  left: 850px;
  font-size: var(--font-size-13xl);
  font-weight: 300;
  display: inline-block;
  width: 219px;
  height: 105px;
}
.intergalactic {
  margin: 0;
}
.intergalactic-terminal {
  position: absolute;
  top: 541px;
  left: 386px;
  font-size: var(--font-size-109xl);
  display: inline-block;
  width: 1147px;
  height: 273px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.artists2,
.contact2,
.home3,
.music2 {
  position: absolute;
  top: 770px;
  left: 1451px;
  font-weight: 300;
  display: inline-block;
  width: 167px;
  height: 80px;
}
.artists2,
.contact2,
.music2 {
  top: 834px;
  left: 1683px;
  width: 147px;
  height: 36px;
  cursor: pointer;
}
.contact2,
.music2 {
  top: 920px;
  left: 1451px;
  width: 97px;
  height: 46px;
}
.contact2 {
  top: 989px;
  left: 1785px;
  width: 90px;
  height: 32px;
}
.star-icon {
  position: absolute;
  top: 774px;
  left: 1491px;
  width: 10px;
  height: 10px;
}
.frame-child5,
.frame-child6,
.frame-child7 {
  position: absolute;
  top: 838px;
  left: 1706px;
  width: 10px;
  height: 10px;
}
.frame-child6,
.frame-child7 {
  top: 925px;
  left: 1457px;
  width: 9px;
}
.frame-child7 {
  top: 996px;
  left: 1775px;
  width: 10px;
  height: 9px;
}
.removebg-preview-2-icon {
  position: absolute;
  top: 848px;
  left: 1362px;
  width: 110px;
  height: 114px;
  object-fit: cover;
  cursor: pointer;
}
.image-removebg-preview-2-1-icon {
  position: absolute;
  top: 724px;
  left: 1416px;
  width: 100px;
  height: 67px;
  object-fit: cover;
}
.ce6bc98293b091b52e283aaf9706cd-icon {
  position: absolute;
  top: 797px;
  left: 1598px;
  width: 108px;
  height: 82px;
  object-fit: cover;
}
.d029eb48b6d2a35f572d988848d16e-icon {
  position: absolute;
  top: 958px;
  left: 1680px;
  width: 100px;
  height: 75px;
  object-fit: cover;
  cursor: pointer;
}
.this-place-is {
  position: absolute;
  top: 861px;
  left: 79px;
  font-size: var(--font-size-base);
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 489px;
}
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 999px;
  left: 79px;
  width: 452px;
  height: 1px;
  object-fit: contain;
}
.frame-child9 {
  top: 412px;
  left: 960px;
  width: 0;
  height: 39px;
}
.frame-top,
.image-1-parent {
  width: 1920px;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
}
.image-1-parent {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-top {
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}
